@charset "UTF-8";
body {
  font-family: 'Open Sans', 'Lato', 'Roboto',  'sans-serif', '微軟正黑體', 'Ping-Fang';
  padding: 2em;
  width: 100%;
  height: 100%;
  font-size: 15px; }
  body div::after {
    content: '';
    display: block;
    clear: both; }

a {
  text-decoration: none;
  color: #000; }
  a:active, a:visited {
    color: #000; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

input {
  outline: 0; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  width: 100%;
  height: 100%; }

#fullpage .cards, #fullpage .cards .card .top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@-webkit-keyframes layIn {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes layIn {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@-webkit-keyframes layOut {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); } }

@keyframes layOut {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); } }

body {
  line-height: 1.5;
  background-color: #eee; }

#fullpage .section {
  min-height: 100vh; }
  #fullpage .section .slide {
    width: 90%;
    padding: 20px; }
  #fullpage .section .container {
    width: 100%;
    height: 100%;
    padding: 2em; }
  #fullpage .section .youtube-container {
    width: 100%;
    height: 100%; }

#fullpage .block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: #8e8e8e;
  -webkit-animation: layIn 0.6s 0s, layOut 0.6s 0.6s;
          animation: layIn 0.6s 0s, layOut 0.6s 0.6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

#fullpage .row {
  position: relative;
  width: 100%; }
  #fullpage .row .text-side {
    position: absolute;
    width: 30%;
    left: 20%;
    top: 30%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px; }
  #fullpage .row .picture-side {
    float: right;
    position: relative;
    width: 60%;
    right: 0;
    top: 20%;
    z-index: 0; }

#fullpage .cards {
  width: 90%;
  max-width: 1400px;
  margin: 60px auto 0; }
  #fullpage .cards .card {
    margin: 20px; }
    #fullpage .cards .card:hover .top-container {
      -webkit-transform: translateY(0px);
          -ms-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out; }
    #fullpage .cards .card:hover .bottom-container {
      -webkit-transform: translateY(0px);
          -ms-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out; }
    #fullpage .cards .card .top-container {
      position: relative;
      min-height: 280px;
      padding: 20px;
      background-color: #f39999;
      -webkit-transform: translateY(140px);
          -ms-transform: translateY(140px);
              transform: translateY(140px);
      -webkit-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out;
      z-index: 1; }
      #fullpage .cards .card .top-container .icon {
        max-width: 150px; }
    #fullpage .cards .card .bottom-container {
      padding: 5px 20px 10px;
      background-color: #fff;
      color: #333;
      -webkit-transform: translateY(-140px);
          -ms-transform: translateY(-140px);
              transform: translateY(-140px);
      -webkit-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out; }

.youtube-container {
  position: relative; }
  .youtube-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }

.btn-row {
  margin: 20px 0; }

a[class^="btn-"] {
  display: inline-block;
  border: 1px solid #000;
  padding: 3px 8px; }
